<div class="conteneurDeBase">
  <!-- Barre de sélection de la catégorie -->
  <div class="header">
    <div class="select-container">
      <select class="select-box" [(ngModel)]="myDropDown" (ngModelChange)="onChangeofOptions($event)">
        <option *ngFor="let cat of listeCategories" value="{{cat.id}}">{{cat.title}}</option>
      </select>
    </div>
  </div>

  <!-- Liste des hadiths -->
  <div class="content-container">
    <div class="aya-card" *ngFor="let had of listeHadiths; index as i" id="{{i+1}}">
      <div class="aya-header">
        <p>{{i+1}} / {{listeHadiths.length}}</p>
      </div>

      <div class="aya-content">
        <h1 class="aya-title">{{had.title}}</h1>
        <button class="button-detail" (click)="hadithExplaynation(+had.id);dialog.showModal()">Détail</button>
      </div>

      <!-- Modal dialog -->
      <dialog id="dialog" #dialog class="modal-dialog">
        <div class="modal-content">
          <h2>{{hadith.title}}</h2>
          <p>{{hadith.hadeeth}}</p>
          <hr>
          <p><strong>Attribution :</strong> {{hadith.attribution}}</p>
          <p><strong>Grade :</strong> {{hadith.grade}}</p>
          <hr>
          <p>{{hadith.hadeeth_ar}}</p>
          <p><strong>Explication (Arabe) :</strong> {{hadith.explanation_ar}}</p>
          <p><strong>Grade (Arabe) :</strong> {{hadith.grade_ar}}</p>
        </div>
        <div class="modal-footer">
          <button class="button-close" (click)="dialog.close()">Fermer</button>
        </div>
      </dialog>
    </div>
  </div>
</div>
