<div>
    <h2>Liste des Personnes</h2>
    <ul>
      <li *ngFor="let personne of personnes">
        {{ personne.nom }} {{ personne.prenom }}
        <button (click)="deletePersonne(personne.id)">Supprimer</button>
      </li>
    </ul>
  
    <h3>Ajouter une nouvelle personne</h3>
    <form (ngSubmit)="addPersonne()">
      <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" [(ngModel)]="newPersonne.nom" name="nom" required>
      </div>
      <div>
        <label for="prenom">Prenom:</label>
        <input type="text" id="prenom" [(ngModel)]="newPersonne.prenom" name="prenom" required>
      </div>
      <button type="submit">Ajouter</button>
    </form>
  </div>
  
