<div class="conteneur">
  <h1> Module 1</h1>
  <hr>
  <h2>Cours 1 </h2>
  <iframe src="https://player.vimeo.com/video/203278852?h=d00036e011a" width="640" height="360"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

  <p>
    cours 1 :

    - dialog entre khalid et siyad
    - fassila est une virgule
    - 3alamato istifham est le point d'interogation
    - discours en arabe du prof
    - devoirs
    - lis le dialogue avec concentration
    - apprendre le dialogue par coeur après l'avoir plusieurs
    - écris le dialogue 5 fois minimim et essaie de faire une 6eme sans regarder
  </p>
  <img src="../../assets/images/001.png" alt=""> <br>
  <img   src="../../assets/images/002.png" alt=""><br>
  <img   src="../../assets/images/003.png" alt=""><br>
  <hr>
  <h2>Cours 2 </h2>

  <iframe src= "https://player.vimeo.com/video/203510380?h=a4331cdd0e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <img style="display: inline-block;" src="../../assets/images/004.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/005.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/006.png" alt=""><br>
  <img style="display: inline-block;" src="../../assets/images/007.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/008.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/009.png" alt=""><br>
  <img style="display: inline-block;" src="../../assets/images/010.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/011.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/012.png" alt=""><br>
  <hr>
  <h2>Cours 3 </h2>

  <iframe src= "https://player.vimeo.com/video/208735597?h=be9ef74fd1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    <hr>

  <h2>Cours 4 </h2>
  <iframe src= "https://player.vimeo.com/video/208796800?h=449263f4ff" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    <hr>
  <img style="display: inline-block;"  src="../../assets/images/013.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/014.png" alt=""><br>
  <h2>Cours 5 </h2>
  <iframe src= "https://player.vimeo.com/video/208945111?h=579cf810da" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <img style="display: inline-block;"  src="../../assets/images/015.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/016.png" alt=""><br>
  <hr>

  <h2>Cours 6 </h2>
  <iframe src= "https://player.vimeo.com/video/209051437?h=bd4e35a339" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <img style="display: inline-block;"  src="../../assets/images/0017.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0018.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0019.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0020.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0021.png" alt=""><br>
  <hr>

  <h2>Cours 7 </h2>
  <iframe src= "https://player.vimeo.com/video/209195442?h=5461fddcb7" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <img style="display: inline-block;"  src="../../assets/images/0022.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0023.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0024.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0025.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0026.png" alt=""><br>
  <hr>
  <hr>
  <hr>
  <h1>Module 2 </h1>
  <hr>
  <h2>Cours 8</h2>

  <iframe src= "https://player.vimeo.com/video/209369701?h=1b880c146a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p>le ya de ismii est le ya el motakalim</p>
  <p>le ka est de ismoka et le ka el khitab</p>
  <img style="display: inline-block;"  src="../../assets/images/0027.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0028.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0029.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0030.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0031.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0032.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0033.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0034.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0035.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0036.png" alt=""><br>
  <h2>Cours 9</h2>

  <iframe src= "https://player.vimeo.com/video/209625918?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p>le ya de ismii est le ya el motakalim</p>
  <p>le ka est de ismoka et le ka el khitab</p>
  <img style="display: inline-block;"  src="../../assets/images/0037.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0038.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0039.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0040.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0041.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0042.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0043.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0044.png" alt=""><br>


  <h2>Cours 10</h2>

  <iframe src= "https://player.vimeo.com/video/209732742?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p>le ya de ismii est le ya el motakalim</p>
  <p>le ka est de ismoka et le ka el khitab</p>
  <img style="display: inline-block;"  src="../../assets/images/0045.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0046.png" alt=""><br>
  <img style="display: inline-block;"  src="../../assets/images/0047.png" alt=""><br>
  <p>Pour l'instant on voit pas les exceptions, on va considérer que tous les noms propres 
    féminins de prennent pas de tenouin ni casra, on mettra une fetha à la palce</p>
    <img style="display: inline-block;"  src="../../assets/images/0048.png" alt=""><br>
    <p>Le prénom hamza a un ta a la fin du coup on a mis fatha comme dans la règle du féminin</p>
    <img style="display: inline-block;"  src="../../assets/images/0049.png" alt=""><br>

</div>
